body {
    padding-top: 60px;
  }
#home {
	padding-top: 80px;
}
.visible-lg {
    display: inline-block!important;
}
.navbar{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-bottom: 0;
}

.navbar-brand {
    height: 60px;
    padding: 2px 15px;
}
.navbar-brand img{
    width: auto;
    height: 100%;
    display: inline-block;
}

.navbar-default .navbar-nav>li>a {
	padding-top: 20px;
    padding-bottom: 20px;    
	transition: all .3s ease;	
	text-transform: uppercase;
	color: #0062ba;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #fff;
    background-color: #0061b7;    
}

.logo {
    padding: 10px 10px 0 10px;
  }
  
.title {   
    font-size: 24px;    
    color: #000;
    padding-top: 15px;
    padding-left: 15px;
}
footer{
    color: #fff;
    text-align: center;
    margin-top: 60px;    
   
}
.ft-bottom{
    margin-top: 60px;
}
.news{
    background: #0061b7;
    max-height: 150px; 
}

.newsletter-form {	   
    margin: 0 auto;
    padding: 10px 10px 30px; 
}
.newsletter-form .btn{
    border:0;
    background: #e7484b;        
    color: #fff;   
}
.newsletter-form .btn:hover{
  
    background: #b63c3e;   
}

.brooklyn-links{     
    margin-right:-15px;
    padding: 20px 10px 70px;   
    background: #e7484b;   
    max-height: 150px;
    text-align: center;
   
}
.brooklyn-links ul{ 
   text-align: left;
   list-style: none;
   display:inline-block;
   padding-left:0; 
   margin-left: 40px; 
}    
.brooklyn-links a{
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    color:#fff;    
}
.brooklyn-links a:hover{
    color: #909AA0;       
}
.brooklyn-links h4{
    text-transform: uppercase;
}

.newsletter-form h4 {
	text-transform: uppercase;     
    margin-bottom: 30px;
}
footer .nav {
    width: 100%;
    text-align: center;    
}
footer .nav li {
    display: inline-block;
    float: none;
    vertical-align: top;
}
footer .nav li a {
    color: #909AA0;   
    padding: 10px;
}
.social {   
    list-style: none;
    margin: 20px;
    padding: 0;
}

.social li {
    display: inline-block;
}

.social i {
    display: block;
    margin: 5px 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;  
    transition: all ease 0.3s;  
}
.social a{    
    text-decoration: none;    
}
.social .fa-facebook-f:hover{
    background: #4060A5;
}
.social .fa-twitter:hover {
    background: #00ABE3;
}
.social .fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.social .fa-linkedin:hover {
    background: #0094BC;
}
.social .fa-google-plus-g:hover {
    background: #dd4b39;
}
.social .fa-envelope:hover {
    background: #4d4b4b
}
.copyright {    
    color: #909AA0;
    opacity: .7;
    margin: 20px;
}

#fest-carousel {    
    margin-bottom: 60px;
}

#countdown-timer{
   max-width: 500px;
   height: auto;   
   margin: 0 auto;
   text-transform: uppercase;
   text-align: center;
}
.main-event
{
    position: absolute;
    top: 10px;
    left:10px;
    width: auto;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
}
.carousel-caption .mobile-button{
    display: none;
}   
.carousel .carousel-control {
    opacity: 1
  }
  .carousel .carousel-control.left {
    background-image: linear-gradient(to right, rgb(0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
  }
  .carousel .carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgb(0, 0, 0) 100%);
  }  
  
   /* add darkness over the image */
  .item {
    position: relative;      
  }
  .item:before {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    /* change this value from 0.1 to 1; */
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  .carousel-caption{
      bottom: 10px;
      padding-bottom: 10px;       
      text-align: left;     
  }
 .carousel-caption > a {
    text-decoration: none;
    text-transform: uppercase;   
  }

  .carousel-caption h1, p{
      margin-bottom: 10px;     
  }  
  .carousel-indicators {
	bottom: -50px;
  }
  .carousel-indicators li {
      text-indent: 0;
      margin: 0 2px;
      width: 30px;
      height: 3px;
      border: none;
      border-radius: 0;
      line-height: 30px;
      color: #fff;
      background-color: #635e5e;
      transition: all 0.25s ease;
}

.carousel-indicators .active{
    margin: 0 2px;
    width: 30px;
    height: 7px;
    background-color: #337ab7;   
}
.schedule{
   top: 15px;
}
.tab-pane h4 > a{
    text-decoration: none;
}
.panel-title > a {
    position: relative;
    display: block;
    line-height: 30px;
}
.panel-title > a:after {   
    position: absolute;   
    right: 15px;
    top: 50%;
    margin-top: -12px;
}
.panel-title > a[aria-expanded="false"]:after {  
    font-family: Font Awesome\ 5 Free;
    content: "\f078";
    font-weight: 900;
}

.panel-title > a[aria-expanded="true"]:after {
    font-family: Font Awesome\ 5 Free;
    content: "\f077";
    font-weight: 900; 
}
.panel-title .time {
    background-color: #333;
    color: #fff;
    padding: 7px 15px;   
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
}

.date-box {
    background-color: #3461ba;
    color: #fff;
    padding: 10px;
}
.active .date-box {
    background-color: #e7484b;
}
.date-box span {
    line-height: 22px;
    display: block;
}

.date-box .day {
    font-size: 30px;
    font-weight: 700;
}

.btn-outline {
    border: 1px solid #3461ba;
    color: #3461ba;
}

.nav-date.nav>li>a {
    padding: 0;
    border: 0;
}
  .overview{
      margin-top: 0;
  } 
  .panel-body .visible-xs{
      margin-left: 15px;
  }
 .panel-title > a { 
    poition: relative;     
}
.movie-year{
    display: inline-block;  
    position:absolute;     
    left: 40%;      
}
.booking{    
    background: url('../img/festival.jpg') no-repeat center center;
    background-size: cover;   
}

.booking .panel{
    max-width: 500px;
    margin: 50px auto 30px auto;
    border:0;     
    background: rgba(0,0,0,0.5);
    color: #ffff;
    /*position: relative;   */
    transition: 1s;      
}
.booking .panel:hover{
    background: rgba(0,0,0,0.7);
}
.booking .panel-body{
    padding: 40px 30px 30px 30px;
}
.label-1{
    position: relative;
    display: inline-block;
    top: 10px;   
    left: -5px;
    line-height: 25px;
    padding: 5px 20px;    
    color: #fff;
    transform: rotate(-20deg);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);   
}
.label-1:after{
    position:absolute;    
    content:"";
    top:-10px;
    left:5px;
    width:100%;
    height:100%;
    transform: rotate(-10deg);
    background: rgba(230, 169, 101, 0.5);  
    z-index: -2;
}
.label-1:before{
    position:absolute;    
    content:"";
    top: 0;
    left:5px;
    width:100%;
    height:100%;
    background: #e7484b;
    z-index: -1;
}

.booking .btn{
    border:0;
    background: #e7484b;   
    color: #fff;   
}
.booking .btn:hover{   
    background: #b63c3e;
   
    
}
.image-box{ 
    position: relative;
    text-align: center;
}

.image-box img{ 
   clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);   
}

.contact-info {
    background-color: #fff;
    color: #fff;   
    padding: 10px 40px 30px 40px;
    margin-bottom: 30px;
   /* border-radius: 20px;*/
    text-align: center;    
}
.contact-info .logo {
    max-width: 50%;   
    margin: 0 auto;    
    padding-bottom:5px;
    position: absolute;
    top:40px;
    left: 25%;
   /* background-color: #ddd;  */
   background-color: #fff;
}
.contact-info .logo img{    
    max-width:100%;   
    display:inline-block;   
}

.contact-info ul {   
    
    background-color: #0062ba;
    border: 0px solid #ddd;
    padding: 70px 20px 20px;
    margin: 30px 0 30px 0;
    list-style: none;
    text-align: left;   
}
.email-address{   
    color:#fff;
}
.contact-info a{
    text-decoration: none;  
}
.contact-info h1 {
    color: #0062ba;
    font-size: 28px;    
    font-weight: 700;   
    margin-bottom: 20px;
}
.contact-info .social-icons a{     

    color: #9aa4b9;    
    display: inline-block;   
    font-size: 20px;
    margin-right: 6px;    
    transition: all .3s ease;
}
.contact-info .social-icons a:hover{
     transform: scale(1.3); 
}
.contact-info ul::before, .contact-info ul::after{
    font-family: Font Awesome\ 5 Free;
    content: "\f0c8";
    line-height: 22px;
    font-size: 28px;
    font-weight: 900;  
    position: relative;
    display: inline-block;
  
}
/*left-top*/
.contact-info ul:before{
    top: -50px;
    left: -12px;
}
/*left-bottom*/
.contact-info ul:after{
    top: 10px;
    left: -40px;
}

.right-top, .right-bottom, .right-middle{
    line-height: 22px;
    font-size: 28px;
    font-weight: 900;  
    position: relative;   
    /*background-color: #fff;*/   
}

.right-top{
    top: -50px;
    left: 198px;
}

.right-bottom{
    top: 10px;
    left: 225px;
}

.right-middle{
    top: -5px;
    left: 60px;
}

.left-middle{
    display:none;
}
.contact-panel{
    background-color: #efeeec;
    border:none;
}

.contact-page{    
    background-color:#efeeec;
}

.contact-panel .btn{
    background: #0062ba;
    color: #fff;
    border: none;
}
.contact-panel .btn:hover{
    background: #1e558b;   
}

.panel select:invalid{
    color: #999;
   
}
.panel select option{
    color: #555;
 }
.contact footer{
    margin-top:0;
}
input[type=checkbox] {
    margin: 4px 0 0 -20px !important;
    height: unset !important;
}


@media screen and (max-width: 992px) {
    .visible-lg {
        display: none !important;
    }

    .carousel-caption{                   
        bottom: 10px;
     }
     .carousel-caption h1, a, p{
        margin-bottom: 10px;
    }

    .image-box {
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 40px;
    }
   
    .image-box img{       
        display:inline-block;
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);   
    }    
   
}
@media screen and (max-width: 767px) {
   
    .visible-lg {
        display: none !important;
    }  
    .footer-margin footer{
        margin-top: 0px;
    }
    footer .nav{
        margin: 0;
    }
    .ft-bottom{
        margin-top: 170px;
    } 
    .brooklyn-links{                  
        padding: 20px 0;
        margin-left:-15px;
        margin-right:-15px;        
     }   
     .nav-date.nav>li {
        display: inline-block;
     }
     .schedule{
         top:0;
     }    
}
@media screen and (max-width: 480px) {
   
    .brooklyn-links{         
        margin-top: -40px;
        padding:10px 0;;
     }
    .news{
         max-height: 250px;
     }

    footer .nav {
        display: none;
    }
    .ft-bottom{
        margin-top: 50px;
    }
    .newsletter-form {	
        margin: 20px auto 30px;         
    }    
   .newsletter-form h4{
        font-size: 14px; 
        font-weight: 700;      
    } 
    .brooklyn-links a{       
        font-size: 16px;           
    }
    .brooklyn-links h4{       
        font-size: 16px;  
        font-weight: 700;          
    }    
    .social i {              
        margin: 4px 4px;
        width: 30px;
        height: 30px;
        line-height: 30px;      
        font-size: 14px; 
    }      
    .carousel-caption {        
        bottom: 20px;    
     }     
     .carousel-caption h1{     
        font-size: 18px;
        font-weight: 700;       
        margin-bottom: 10px; 
    }
    .carousel-caption  p{
        margin-bottom: 5px;
        font-size:12px;  
    }
    .year{
        display:none;
    }  
}
@media screen and (max-width: 380px) {
    .carousel-caption h1{
        margin-bottom: 20px;
        font-size: 24px;
        font-weight:700;
    }
    .carousel-caption p, .main-button{
        display: none;
    }
    .carousel-caption .mobile-button{
        display: inline-block;
    }
}
/*@media screen-s for contact form data*/

@media screen and (max-width: 1199px) and (min-width: 992px) {
    .contact-info ul::before, .contact-info ul::after, .right-top, .right-bottom, .right-middle{
        line-height: 14px;
        font-size: 18px;
    }
    .contact-info ul::before{
        left:-15px;
    }
    .contact-info ul:after{
        left: -35px;
    }
    .right-top{
        left:152px;
    }
    .right-middle{
        top: -20px;
        left: 173px;
    }
    .right-bottom{
        top: 10px;
        left: 173px;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px){
    .contact-info ul::before, .contact-info ul::after, .right-top, .right-bottom, .right-middle{
        line-height: 14px;
        font-size: 18px;
    }
    .contact-info ul::before{
        left:-10px;
    }

    .contact-info ul::after{
        left:-30px;
    }

    .right-top{
        left:200px;
    }
    .right-middle{ 
        top: 0;     
        left: 56px;
    }
    .right-bottom{    
        left: 220px;
    }
}

@media screen and (max-width: 767px) and (min-width:681px){   
    .contact-info ul{
        padding-top: 90px;
        padding-left: 80px;         
    }  
   
    .contact-info ul::before, .contact-info ul::after, .right-top, .right-bottom, .right-middle, .left-middle {
       position: relative;
       line-height: 26px;
       font-size: 34px;
       background-color:#fff;
   } 
 
   .contact-info ul::before{
       left:-55px;
   }
   .contact-info ul::after{
       left:-90px;
   }
   .left-middle{ 
    display:inline-block;
    top: 50px;     
    left:-123px;
    }   
   .right-top{          
       left:415px;      
   }
   .right-middle{ 
       top: -10px;     
       left: 286px;
   }
  
   .right-bottom{    
       left: 453px;
   }
   
}
@media screen and (max-width: 680px) and (min-width: 610px) {
    .right-top{          
        left:415px;      
    }
    .right-middle{              
        left: 280px;
    }   
    .right-bottom{    
        left: 445px;
    }
}
@media screen and (max-width: 609px) and (min-width: 545px) {
    .contact-info ul::before, .contact-info ul::after, .right-top, .right-bottom, .right-middle, .left-middle{      
        line-height: 22px;
        font-size: 26px;
    }  
    
    .right-top{          
        left:360px;      
    }
    .right-middle{              
        left: 223px;
    }
  
    .right-bottom{    
        left: 388px;
    }
    .contact-info ul:after{
        top: 10px;
        left: -15px;
    }
    .contact-info ul:before{
       
        left: 15px;
    }
  
}
@media screen and (max-width: 544px) and (min-width: 500px) {
    .contact-info ul::before, .contact-info ul::after, .right-top, .right-bottom, .right-middle, .left-middle{      
        line-height: 22px;
        font-size: 26px;
    }      
    .right-top{          
        left:315px;      
    }
    .right-middle{              
        left: 178px;
    }   
    .right-bottom{    
        left: 341px;
    }
    .contact-info ul:after{
        top: 10px;
        left: -15px;
    }
    .contact-info ul:before{
       
        left: 10px;
    }
  
}
@media screen and (max-width: 499px) and (min-width: 451px) {
    .contact-info ul::before, .contact-info ul::after, .right-top, .right-bottom, .right-middle, .left-middle{      
        line-height: 14px;
        font-size: 18px;
    }      
    .right-top{          
        left:283px;      
    }
    .right-middle{              
        left: 138px;
    }   
    .right-bottom{    
        left: 303px;
    }
    .contact-info ul:after{
        top: 10px;
        left: -13px;
    }
    .contact-info ul:before{       
        left: 8px;
    }
}


@media screen and (max-width: 450px) and (min-width: 420px) {
   
    .contact-info ul::before, .contact-info ul::after, .right-top, .right-bottom, .right-middle, .left-middle{      
        line-height: 14px;
        font-size: 18px;
    }      
    .contact-info ul::before{
        left:0;
    }
    .contact-info ul:after{
        left: -20px;
    }
    .right-top{
        left:250px;
    }
    .right-middle{
        top: -20px;
        left: 105px;
    }
    .right-bottom{
        top: 10px;
        left: 270px;
    }
}
@media screen and (max-width: 419px) and (min-width: 395px) {
    .contact-info ul::before, .contact-info ul::after, .right-top, .right-bottom, .right-middle, .left-middle{      
        line-height: 14px;
        font-size: 18px;
    }      
    .contact-info ul::before{
        left:-5px;
    }
    .contact-info ul:after{
        left: -23px;
    }
    .right-top{
        left:223px;
    }
    .right-middle{
        top: -20px;
        left: 78px;
    }
    .right-bottom{
        top: 10px;
        left: 244px;
    }
}
@media screen and (max-width: 394px) and (min-width: 380px) {
    .contact-info ul::before, .contact-info ul::after, .right-top, .right-bottom, .right-middle, .left-middle{      
        line-height: 14px;
        font-size: 18px;
    }         
    .contact-info ul::before{
        left:-8px;
    }
    .contact-info ul:after{
        left: -25px;
    }
    .right-top{
        left:205px;
    }
    .right-middle{
        top: -10px;
        left: 61px;
    }
    .right-bottom{
        top: 10px;
        left: 226px;
    }
}
@media screen and (max-width: 379px) and (min-width: 360px) {
    .contact-info ul::before, .contact-info ul::after, .right-top, .right-bottom, .right-middle, .left-middle{      
        line-height: 14px;
        font-size: 18px;
    }  
    .contact-info ul::before{
        left:-8px;
    }
    .contact-info ul:after{
        left: -27px;
    }       
    .right-top{
        left:191px;
    }
    .right-middle{
        top: -10px;
        left: 47px;
    }
    .right-bottom{
        top: 10px;
        left: 211px;
    }
}
@media screen and (max-width: 359px) and (min-width: 345px) {
    .contact-info ul::before, .contact-info ul::after, .right-top, .right-bottom, .right-middle, .left-middle{      
        line-height: 14px;
        font-size: 18px;
    }  
    .contact-info ul::before{
        left:-10px;
    }
    .contact-info ul:after{
        left: -29px;
    }       
    .right-top{
        left:177px;
    }
    .right-middle{
        top: -10px;
        left: 32px;
    }
    .right-bottom{
        top: 10px;
        left: 197px;
    }
}
@media screen and (max-width: 344px) and (min-width: 335px) {
    .contact-info ul::before, .contact-info ul::after, .right-top, .right-bottom, .right-middle, .left-middle{      
        line-height: 14px;
        font-size: 18px;
    }
        .contact-info ul::before{
            left:-10px;
        }
        .contact-info ul::after{
            left: -27px;
        }       
        .right-top{
            left:165px;
        }
        .right-middle{
            top: -10px;
            left: 20px;
        }
        .right-bottom{
            top: 10px;
            left: 185px;
        }
    }  

    @media screen and (max-width: 334px) and (min-width: 331px) {
        .contact-info ul::before, .contact-info ul::after, .right-top, .right-bottom, .right-middle, .left-middle{      
            line-height: 14px;
            font-size: 18px;
        }
            .contact-info ul::before{
                left: -13px;
            }
            .contact-info ul::after{
                left: -30px;
            }       
            .right-top{
                left:160px;
            }
            .right-middle{
                top: -10px;
                left: 15px;
            }
            .right-bottom{
                top: 10px;
                left: 180px;
            }
        }  
@media screen and (max-width: 330px) and (min-width: 323px) {
        .contact-info ul::before, .contact-info ul::after, .right-top, .right-bottom, .right-middle, .left-middle{ 
            display:none;
        }
      
    }

@media screen and (max-width: 322px) and (min-width: 319px) {
    .contact-info ul::before, .contact-info ul::after, .right-top, .right-bottom, .right-middle{       
        line-height: 14px;
        font-size: 18px;
    }
    .contact-info ul::before{
        left: -15px;
    }
    .contact-info ul::after{
        left: -35px;
    }       
    .right-top{
        left:150px;
    }
    .right-middle{
        top: -30px;
        left: 170px;
    }
    .right-bottom{
        top: 10px;
        left: 170px;
    }
    
}
@media screen and (max-width: 318px) {
    .contact-info ul::before, .contact-info ul::after, .right-top, .right-bottom, .right-middle, .left-middle{ 
        display:none;
    }
}





