/*@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');*/

body {
	padding-top: 60px;
}
body.home {
	padding-top: 80px;
}
.visible-lg {
    display: inline-block!important;
}

.navbar{
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    border-bottom: 0;
}

.navbar-brand {
    height: 60px;
    padding: 2px 15px;
}
.navbar-brand img{
    width: auto;
    height: 100%;
    display: inline-block;
}

.navbar-default .navbar-nav>li>a {
	padding-top: 20px;
    padding-bottom: 20px;    
	transition: all .3s ease;	
	text-transform: uppercase;
	color: #0062ba;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #fff;
    background-color: #0062ba;    
}

.logo {
    padding: 10px 10px 0 10px;
  }
  
.title {   
    font-size: 24px;    
    color: #000;
    padding-top: 15px;
    padding-left: 15px;
}
footer{
    color: #fff;
    text-align: center;
}

.newsletter-form {	
    margin: 60px auto; 
    max-width: 700px; 
}

.newsletter-form h4 {
	text-transform: uppercase;     
    margin-bottom: 30px;
}
footer .nav {
    width: 100%;
    text-align: center;
    display:block;
}
footer .nav li {
    display: inline-block;
    float: none;
    vertical-align: top;
}
footer .nav li a {
    color: #909AA0;
    display: block;
    padding: 10px;
}
.social {   
    list-style: none;
    margin: 20px;
    padding: 0;
}

.social li {
    display: inline-block;
}

.social i {
    display: block;
    margin: 5px 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;  
    transition: all ease 0.3s;  
}
.social a{    
    text-decoration: none;    
}
.social .fa-facebook-f:hover{
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-google-plus-g:hover {
    background: #e64522;
}

.social .fa-linkedin:hover {
    background: #0094BC;
}

.social .fa-instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.social .fa-envelope:hover {
    background: #4d4b4b
}

.social .fa-skype:hover {
    background: #00C6FF;
}

.copyright {    
    color: #909AA0;
    opacity: .7;
    margin: 20px;
}

#fest-carousel {    
    margin-bottom: 60px;
}

#countdown-timer{
   max-width: 500px;
   height: auto;   
   margin: 0 auto;
   text-transform: uppercase;
   text-align: center;
}
.main-event
{
    position: absolute;
    top: 10px;
    width: auto;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
}

.carousel .carousel-control {
    opacity: 1
  }
  .carousel .carousel-control.left {
    background-image: linear-gradient(to right, rgb(0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
  }
  .carousel .carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgb(0, 0, 0) 100%);
  }
  
  
   /* add darkness over the image */
  .item {
    position: relative;      
  }
  .item:before {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    /* change this value from 0.1 to 1; */
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  .carousel-caption{
      bottom: 0;
      padding-bottom: 10px; 
      text-align: left;     
  }
 .carousel-caption > h4 > a {
    color: #FF322B;
    text-decoration: none;
    text-transform: uppercase;   
  }

  .carousel-caption h1, h4, p{
      margin-bottom: 0px;     
  } 
  
 
  .carousel-indicators {
	bottom: -50px;
  }

  .carousel-indicators li {
      text-indent: 0;
      margin: 0 2px;
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 100%;
      line-height: 30px;
      color: #fff;
      background-color: #635e5e;
      transition: all 0.25s ease;
}

.carousel-indicators .active{
    margin: 0 2px;
    width: 30px;
    height: 30px;
    background-color: #337ab7;   
}
.schedule{
   top: 15px;
}
.tab-pane h4 > a{
    text-decoration: none;
}
.panel-title > a {
    position: relative;
    display: block;
    line-height: 30px;
}
.panel-title > a:after {   
    position: absolute;   
    right: 15px;
    top: 50%;
    margin-top: -12px;
}
.panel-title > a[aria-expanded="false"]:after {  
    font-family: Font Awesome\ 5 Free;
    content: "\f078";
    font-weight: 900;
}

.panel-title > a[aria-expanded="true"]:after {
    font-family: Font Awesome\ 5 Free;
    content: "\f077";
    font-weight: 900; 
}
.panel-title .time {
    background-color: #333;
    color: #fff;
    padding: 7px 15px;   
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
}

.date-box {
    background-color: #3461ba;
    color: #fff;
    padding: 10px;
}
.active .date-box {
    background-color: #e7484b;
}
.date-box span {
    line-height: 22px;
    display: block;
}

.date-box .day {
    font-size: 30px;
    font-weight: 700;
}

.btn-outline {
    border: 1px solid #3461ba;
    color: #3461ba;
}

.nav-date.nav>li>a {
    padding: 0;
    border: 0;
}
  .overview{
      margin-top: 0;
  } 
  .panel-body .visible-xs{
      margin-left: 15px;
  }
 .panel-title > a { 
    poition: relative;     
}
.movie-year{
    display: inline-block;  
    position:absolute;     
    left: 40%;      
}
.booking{    
    background: url('../img/festival.jpg') no-repeat center center;
    background-size: cover;   
}
.booking .panel{
    border:0;     
    background: rgba(0,0,0,0.5);
    color: #ffff;
    margin-top: 50px;
    position: relative;    
    transition: 1s;      
}
.booking .panel:hover{
    background: rgba(0,0,0,0.7);
}
.booking .panel-body{
    padding: 70px 30px 30px 30px;
}
.label-1{
    position: absolute;
    top: 5px;
    left: -5px;
    line-height: 25px;
    padding: 5px 20px;    
    color: #fff;
    transform: rotate(-20deg);
    background: #FF322B;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.label-2{
    position: absolute;
    top: -4px;
    left: -4px;
    line-height: 25px;
    width: 110px;
    height: 35px;   
    color: #fff;
    transform: rotate(-28deg);
    background: rgba(230, 169, 101, 0.5);    
    z-index: 1;
}
.booking .btn{
    border:0;
    background: #FF322B;
    color: #fff;   
}
.image-box{ 
    position: relative;
    text-align: center;
}

.image-box img{ 
   clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);   
}

 @media screen and (max-width: 992px) {
    .visible-lg {
        display: none !important;
    }
    
    .carousel-caption{            
        top: -10px;       
     }
     .carousel-caption h1, h4, p{
        margin-bottom: 10px;
    }
   
    .image-box img{       
        display:inline-block;
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);   
    }
}
@media screen and (max-width: 768px) {
   
    .visible-lg {
        display: none !important;
    }  
   
    footer .nav{
        margin: 0;
    }

    .carousel-caption h1{
        text-align: center;
     } 
    
     .nav-date.nav>li {
        display: inline-block;
     }
     .schedule{
         top:0;
     } 
    
}

@media screen and (max-width: 480px) {
   
    footer .nav {
        display: none;
    }
    .social i {       
        margin: 5px 5px;
        width: 35px;
        height: 35px;
        line-height: 35px;      
        font-size: 16px;        
    }
   
    .newsletter-form {	
        margin: 30px auto;         
    }
   
    .carousel-caption h1{
        display: none;
    }

    .carousel-caption {
        padding-top: 60px;
     }   
   .year{
       display:none;
   }
}




