.navbar-brand{
    margin-top: -15px;
    height: 60px;
    padding-bottom: 0;
}

.logo {
    padding: 10px 10px 0 10px;
  }
  
.title {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    padding-top: 15px;
    padding-left: 15px;
}

@media screen and (max-width: 768px) {
    .navbar-brand>img{
        max-height: 55px;
    }
}